body{
 background-color: #5d7fbe;
  ;
}
.main{
  min-height: 100vh;
}
.header{
  z-index: 1;
}
.ribbon {
  position: relative;
  inset: 0 auto auto 0;
  background: #08769b;
  transform-origin: 100% 0;
  width: 60%;
  transform: translate(-29.3%) rotate(-45deg);
  box-shadow: 0 0 0 999px #08769b;
  clip-path: inset(0 100%);
  z-index: 0;
}